{% extends 'IPSSymfonyProjectBundle::base.html.twig' %}
{% block content%}
        <div class="btn-group" style="width: 100%;">
            <a href="/show/project/{{project.ID}}"><button type="button" class="btn btn-default"><h3>{{project.NAME}}</h3></button></a>
            <a href="/show/section/{{section.ID}}"><button type="button" class="btn btn-default"><h3>{{section.NAME}}</h3></button></a>
            <a href="/show/task/{{task.ID}}"><button type="button" class="btn btn-default"><h3>{{task.NAME}}</h3></button></a>
        </div>
        {% if is_granted('ROLE_RESEARCH') %}
            <a href="/delete/task/{{task.ID}}" style="float:right;" onclick="return confirm('are u sure?')"><button class="btn btn-danger">Delete</button></a>
            {% if task.STATUT<100 %}<a href="/end/task/{{task.ID}}" style="float:right;"><button class="btn btn-success">Validate</button></a></br></br>{% else %}<a href="" style="float:right;"><button class="btn btn-seccess disabled">Validate</button></a></br></br>{% endif %}

        {% endif %}
        <table class="table">
            <tbody>
                <tr>
                    <td width="45%"><b>Project:</b></td>
                    <td width="55%"><a href="/show/project/{{project.ID}}">{{project.NAME}}</a></td>
                </tr>
                <tr>
                    <td width="45%"><b>Section:</b></td>
                    <td width="55%"><a href="/show/section/{{section.ID}}">{{section.NAME}}</a></td>
                </tr>
                <tr>
                    <td width="45%"><b>Importance:</b></td>
                    <td width="55%">{{task.IMPORTANCE}}</td>
                </tr>
                <tr>
                    <td width="45%"><b>In charge:</b></td>
                    <td width="55%">{{task.INCHARGE}}</td>
                </tr>
                <tr>
                    <td width="45%"><b>Add date:</b></td>
                    <td width="55%">{{ADDDATE}}</td>
                </tr>
                <tr>
                    <td width="45%"><b>End date:</b></td>
                    <td width="55%">{{ENDDATE}}</td>
                </tr>
                <tr>
                    <td width="45%"><b>Progress:</b></td>
                    <td width="55%">{{task.STATUT}}%</td>
                </tr>
                <tr>
                    <td width="45%"><b>Content:</b></td>
                    <td width="55%">{{task.COMMENT}}</td>
                </tr>
                <tr>
                    <td width="45%"><b>References:</b></td>
                    <td width="55%">
                        {% for reference in references%}
                        {% set names=reference.URL|split('/') %}
                            {% if reference.URL matches '{.+\.pdf$}' %}
                                <a href="{{asset(reference.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="https://ressources.blogdumoderateur.com/2013/07/pdf-240x240.png" height="75px" width="65px"><br>{{names|last}}</div></a>
                            {% elseif reference.URL matches '{.+\.pptx$}' %}
                                <a href="{{asset(reference.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="https://www.freeiconspng.com/uploads/microsoft-powerpoint-document-icon-4.png" height="75px" width="65px"><br>{{names|last}}</div></a>
                            {% elseif reference.URL matches '{.+\.rar$}' %}
                                <a href="{{asset(reference.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="{{asset('bundles/IPS/imgs/rar.png')}}" height="75px" width="65px"><br>{{names|last}}</div></a>
                            {% else %}
                                <a href="{{asset(reference.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="https://cdn4.iconfinder.com/data/icons/flatified/512/file.png" height="75px" width="65px"><br>{{names|last}}</div></a>
                            {% endif%}
                        {% endfor %}
                        
                        <div style="clear:both;">
                            <a href="/add/reference/{{task.ID}}"><button class="btn btn-info">Add references</button></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="45%"><b>Works:</b></td>
                    <td width="55%">
                        <div style="width: 100%;">
                            {% for work in works %}
                                {% if work.TYPE=='file' %}
                                    {% set names=work.URL|split('/') %}
                                    {% if work.URL matches '{.+\.pdf$}' %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="https://ressources.blogdumoderateur.com/2013/07/pdf-240x240.png" height="75px" width="65px"><br>{{names|last}}</div></a>
                                    {% elseif work.URL matches '{.+\.pptx$}' %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="https://www.freeiconspng.com/uploads/microsoft-powerpoint-document-icon-4.png" height="75px" width="65px"><br>{{names|last}}</div></a>
                                    {% elseif work.URL matches '{.+\.mp4$}' %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="http://www.free-icons-download.net/images/mp4-format-icons-45083.png" height="75px" width="65px"><br>{{names|last}}</div></a>
                                    {% elseif work.URL matches '{.+\.xlsx$}' %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="https://images.interactives.dk/files/bonnier-kom/pictures/url.png" height="75px" width="65px"><br>{{names|last}}</div></a>
                                    {% elseif work.URL matches '{.+\.docx$}' %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="https://www.file-extensions.org/imgs/articles/4/392/word-logo.png" height="75px" width="65px"><br>{{names|last}}</div></a>
                                    {% elseif work.URL matches '{.+\.mph$}' %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="https://pbs.twimg.com/profile_images/526835078580539392/u9Rcut4K_400x400.png" height="75px" width="65px"><br>{{names|last}}</div></a>
                                    {% elseif work.URL matches '{.+\.rar$}' %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="{{asset('bundles/IPS/imgs/rar.png')}}" height="75px" width="65px"><br>{{names|last}}</div></a>
                                    {% elseif work.URL matches '{.+\.png$}' %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="{{asset(work.URL)}}" style="height: 100%;width: 100%;"><br>{{names|last}}</div></a>
                                    {% elseif work.URL matches '{.+\.jpg$}' %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="{{asset(work.URL)}}" style="height: 100%;width: 100%;"><br>{{names|last}}</div></a>
                                    {% elseif work.URL matches '{.+\.jpeg$}' %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="{{asset(work.URL)}}" style="height: 100%;width: 100%;"><br>{{names|last}}</div></a>
                                    {% elseif work.URL matches '{.+\.zip$}' %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="{{asset('bundles/IPS/imgs/rar.png')}}" height="75px" width="65px"><br>{{names|last}}</div></a>
                                    {% else %}
                                        <a href="{{asset(work.URL)}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="https://cdn4.iconfinder.com/data/icons/flatified/512/file.png" height="75px" width="65px"><br>{{names|last}}</div></a>
                                    {% endif%}
                                {% else %}
                                    <a href="/show/work/{{work.ID}}" target=_blank><div  class="tile_document" style="height: 120px;width: 150px; float: left;text-align: center;"><img src="https://cdn4.iconfinder.com/data/icons/flatified/512/file.png" height="75px" width="65px"><br>See Work</div></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div style="clear:both;">
                            <a href="/add/work/{{task.ID}}"><button class="btn btn-info">Submit works</button></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="width: 100%; text-align: center;">
            <h3 style="color: blue"><b>Discussion</b></h3>
        </div>
        <div>
            <!-- to put the previous discussion -->
            {% for comment in comments%}
                {% if comment.sender==app.user.username %}
                    <div style="float: right;background-color: #B5FEFC;padding: 8px;border-radius: 1.4em;margin-left: 100px;margin-bottom: 5px;"><b>{{comment.sender}}:</b>{{comment.content}}</div></br></br></br>
                {% else %}
                    <div style="float: left;background-color: #FEFCB5;padding: 8px;border-radius: 1.4em;margin-right: 100px;margin-bottom: 5px;"><b>{{comment.sender}}:</b>{{comment.content}}</div></br></br></br>
                {% endif %}
            {% endfor %}
        </div>
        </br></br></br></br>
        <div>   
            {{ form_start(form_ref, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form_ref) }}
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form_ref.content, "Comment:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form_ref.content) }}
            
                <div class="col-sm-8">
                    {# Génération de l'input. #}
                    {{ form_widget(form_ref.content, {'attr': {'class': 'form-control','rows':'2','style':'border-radius: 1.8em'}}) }}
                    
                </div>
                <div class="col-sm-2">
                    {{ form_widget(form_ref.Post, {'attr': {'class': 'btn btn-success'}}) }}
                </div>
            </div>
            
            {{ form_end(form_ref) }}
        </div>
{% endblock %}
